:root {
  --screen-max: 900px;
  --base-font: 'Montserrat', sans-serif;
}

html {
  font-family: var(--base-font)
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: bold;
}

header {
  padding-top: 20px;
  background: yellow;
  max-width: 100%;
  margin: 0;


}

header#main-header .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
  display: flex;
}

.headerimage {
  background-image: url("../grafik/goldengatebridge.jpg");
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
}

.headerimage-text {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  display: block;
  color: white;
  padding-top: 60px;
  font-size: 16px;
  width: 600px;
  height: 300px;
}

.main_navigation {}

ul {
  list-style: none;
  font-family: 'Montserrat';
}

ul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

ul li a {
  color: red;
  text-decoration: none;
  font-family: var(--base-font);
  font-weight: bold;
}

body {
  background: lightgreen;
  margin: 0;
}

#myjourney .teaser-lake-powell {
  display: inline-block;
}

footer#main-footer {
  background: grey;
}

footer .main-footer-left {
  float: left;
  box-sizing: border-box;
  border: 5px solid green;
  color: white;
  font-size: 15px;
  display: block;
}

footer#main-footer .inner-wrapper-text {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

#my-journey {
  text-align: center;
}



.disclaimer {
  display: block;
}
