html {
  margin
}

header#main-header {
  height: 600px;
  background: silver;
}

.overlay {
  position: relative;
  background: green;
  transition: translateY(-50%)

}

.overlay-inner {
  max-width: 960px;
  margin: 0 auto;
  background: orange;

}

.overlay-box {
  position: relative;
  display: block;
  float: right;
  transition: translateY(-50%);
  max-width: 569px;
  height: auto;
  background-image: url(../California_Dreaming/Screendesign/screendesign_v1-assets/overlay-bg.png);
  background: repeat no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: 100% 100%;
}

.overlay-box img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.overlay-box p {
  margin-left: 0 0 0 35px;
  padding:0 35px 0 0;
  width: calc(65% - 70px);
}

@media screen and (min-width: 960px) {
  .overlay-box {
  margin-right: 46px;
  width: unset;
  background-size: contain;

  }
  .overlay-box img {

  }
}
